@charset "UTF-8";

body{
    margin: 0px;
    background-image: linear-gradient(to bottom, #BAC7ED, #FFF6C5, #DAC5C5);
    min-height: 400dvh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

body::-webkit-scrollbar {
    width: 9px;               /* width of the entire scrollbar */
}


body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(94, 94, 94);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(94, 94, 94);  /* creates padding around scroll thumb */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    height: 85px;
    background-color: #4CAF50;
    margin: 0px;
}

header img{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    width: 300px;
    height: auto;
}

nav{


}

nav a{
    text-decoration: none;
    color: #55009b;
    font-size: 100%;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a:hover{
    font-weight: bold;
    background-color: #306d32;
    color: rgba(255, 255, 255, 0.534);
    transition-duration: 0.5s;
}

main{
    margin: 80px 60px;
}

main a{
    text-decoration: none;
}

main p{
    display: block;
    max-width: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: justify;
}

main h1{
    padding-bottom: 50px;
}

a#acontato{
    display: block;
    max-width: 300px;
}

div#contato{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: rgb(63, 63, 63);
    width: 300px;
    height: 60px;
    border-radius: 15px;
    
    background-color: gray;
    text-align: center;
    font-weight: 600;
}

div#contato:hover{
    background-color: rgb(85, 85, 85);
    color: rgb(184, 184, 184);
    transition-duration: 0.5s;
}

div#contato p{
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}

h1#centralizado{
    font-weight: bolder;
    text-align: center;
    padding-top: 100px;
}

div#SERVIÇOS{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.serviços{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid black;
}

div.serviços:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid black;
}

#espaço{
    height: 100px;
    width: 50dvw;
}

#pilares{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    width: 90dvw;
    height: 250px;
    padding-left: 0px;
}

#pilar{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
}

#nomepilares{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90dvw;
    height: 20px;
    padding-left: 0px;
}

#nomepilar{
    display: inline-block;
}
